<div class="logo">
  <a href="/">
    <img src="/img/logo.svg" alt="Wedding Rental Logo" class="imgLogo">
  </a>
</div>
<nav class="navbar">
  <ul>
    <li class="navItem">
      <a class="navLink active" aria-current="page" href="/">Home</a>
    </li>
    <li class="navItem">
      <a class="navLink" href="/cars">Cars</I
    </li>
    <li class="navItem">
      <a class="navLink" href="/catering">Caterings</a>
    </li>
    <li class="navItem">
      <a class="navLink" href="/Venue">Venue</a>
    </li>
    <li class="navItem">
      <a class="navLink" href="/professionals">Professionals</a>
    </li>
    <li class="navItem">
      <a class="navLink" href="/newitem">Submit</a>
    </li>
    <li class="navItem">
      <a class="navLink" href="/contact">Contact</a>
    </li>
  </ul>
  <form action="/" class="search">
    <input type="text" placeholder="Search..." />
    <button type="submit">Search</button>
  </form>
</nav>





  <!-- <header
  class="d-flex flex-wrap align-items-end justify-content-center justify-content-md-between pt-3 mb-1 border-bottom">    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-right">
          <a class="d-none d-lg-block" href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="/img/logo.svg" width="300" height="68" alt="Cooking Blog - Made with Node.js">
          </a>
          
          <button class="navbar-toggler ml-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon ms-1"></span>
          </button>
          <h3 class="d-xs-none d-lg-none text-danger mx-auto">Wedding Stuffs & Professionals</h3>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cars">Cars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/catering">Caterings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Venue">Venue</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/professionals">Professionals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/newitem">Submit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            <!-- </form>
          </div>
        </div>
      </nav>
  </header> --> 

  <!-- <header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-1 border-bottom">
  <a class="d-none d-lg-block" href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="/img/logo.svg" width="229" height="68" alt="Cooking Blog - Made with Node.js">
  </a>
  
  <div class="row">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/cars" class="nav-link px-2 link-secondary">Cars</a></li>
      <li><a href="/catering" class="nav-link px-2 link-secondary">Catering</a></li>
      <li><a href="/venue" class="nav-link px-2 link-secondary">Venue</a></li>
      <li><a href="/professionals" class="nav-link px-2 link-secondary">Professionals</a></li>
      <li><a href="/newitem" class="nav-link px-2 link-secondary">Submit</a></li>
      <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li>
    </ul>
  </div>
  <div class="col-md-3 text-end">
    <form method="POST" action="/search">
      <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>
 -->
