
<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-1 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="/img/logo.svg" width="229" height="68" alt="Cooking Blog - Made with Node.js">
  </a>
  
  <div class="row">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/cars" class="nav-link px-2 link-secondary">Cars</a></li>
      <li><a href="/catering" class="nav-link px-2 link-secondary">Catering</a></li>
      <li><a href="/venue" class="nav-link px-2 link-secondary">Venue</a></li>
      <li><a href="/professionals" class="nav-link px-2 link-secondary">Professionals</a></li>
      <li><a href="/newitem" class="nav-link px-2 link-secondary">Submit</a></li>
      <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li>
    </ul>
  </div>
  <div class="col-md-3 text-end">
    <form method="POST" action="/search">
      <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>



<!-- <header style="background-color: #45526e" class="d-flex text-white flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom">
    <nav style="background-color: #45526e" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Utopia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Decorations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Utilities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Halls</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Honey moon</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Price
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Splended</a></li>
                  <li><a class="dropdown-item" href="#">Luxury</a></li>
                  <li><a class="dropdown-item" href="#">Economical</a></li>
                  <li><a class="dropdown-item" href="#">Cheap</a></li>
                  
                  
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Full Package</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
  </header> -->