<div class="hero">
  <div class="heroContent">
    <div class="heroTitle">
      Explore Huge selections of:
    </div>
    <div class="heroText">
      <ul>
        <li>Wedding Venues</li>
        <li>Limousines</li>
        <li>Caterings</li>
        <li>Wedding Cake Bakeries</li>
        <li>Wedding Beauty Salons</li>
        <li>Wedding Planners</li>
        <li>Photography & DJ's</li>
      </ul>

    </div>
    <div class="heroLinkContainer">
      <a href="/venue" class="heroLinkLeft" >Economical</a>        
      <a href="/catering" class="heroLinkRight">Luxury</a>
      
    </div>
  </div>
  <div class="heroImageContainer">
    <img src="/img/hero-image.png" class="heroImage" alt="Wedding Equipment Rentals With Node.js" /> 
  </div>
  
</div>
