<div class="row flex-lg-row-reverse align-items-center g-5 mb-4">
    <div class="col-12 col-lg-6">
      <img src="/img/hero-image.png" width="507" height="510" class="herosStyle d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
    </div>
  
    <div class="col-12 col-lg-6">
      <h3 class="fw-bold mb-3">Huge selections of Wedding Venues, Limousines, Caterings, and Wedding Planners</h3>
      <p class="lead">
        Explore huge selections of wedding venues, cars, caterings, planners including; economical, affordable, luxury and spendid 
        choices.
      </p>
  
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Economical</a>
        <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Affordable</a>
        <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Luxury</a>
        <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Splendid</a>
      </div>
  
    </div>
  
  </div>
  